[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
sklearn = "*"
opencv-python = "*"
opencv-contrib-python = "==3.4.2.16"
joblib = "*"
tensorflow = "*"
pandas = "*"

[requires]
python_version = "3.7"
